@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
*{
	margin:0;
	padding:0;
	scroll-behavior: smooth;
}
h2,h3{
    font-weight: 700;
}
p,
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
p{
	color: #727272;
}
a:focus,
button:focus,
input:focus{
	outline: none;
}
a:hover,
a{
	text-decoration: none;
}
ul,ol{
	list-style: none;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
}
.img-fluid{
    width: 100%;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.common-btn{
    padding: 20px 24px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    cursor: pointer;
}
/*-- header-section-start --*/
/*-- nav-bar-start --*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 0;
}
.nav{
    padding: 0px 0px 100px;
}
.nav .nav-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .nav-section .nav-logo h3{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.nav .nav-section .nav-menu{
    display: flex;
}
.nav .nav-section .nav-menu li{
    margin-left: 35px;
}
.nav .nav-section .nav-menu li a{
    font-size: 18px;
    color: #424242;
    font-weight: 500;
}
/*-- nav-bar-end --*/

/*-- banner-start --*/
.banner{
    text-align: center;
}
.banner .banner-content{
    max-width: 862px;
    margin: 0 auto;
}
.banner .banner-content h1{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 15px;
}
.banner .banner-content p{
    margin-bottom: 32px;
}
.banner .banner-img{
    margin-top: 50px;
}
/*-- banner-end --*/
/*-- header-section-end --*/

/*-- tem-section-start --*/
.tem{
    display: flex;
    align-items: center;
    margin-top: 85px;
    gap: 75px;
}
.tem .tem-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
}
.tem .tem-contant h2{
    font-size: 45px;
}
.tem .tem-contant h2 .quick{
    color: #727272;
    font-weight: 500;
}
.tem .tem-contant h2 .of{
    color: #131313;
    font-weight: 700;
}
.tem .tem-contant h2 .features{
    color: #ff900E;
    font-weight: 700;
}
.tem .tem-contant p{
    margin: 24px 0 32px;
}
/*-- tem-section-end --*/

/*-- feature-section-start --*/
.feature-section{
    margin-top: 130px;
    display: flex;
    align-items: center;
    gap: 145px;
}
.feature-section .feature-content .feature-hadding h2{
    font-size: 45px;
    color: #131313;
    border-left: 5px solid #ff900e;
    padding-left: 21px;
    margin-bottom: 24px;
    
}
.feature-section .feature-content .feature-hadding p{
    margin-bottom: 30px;
}
.feature-section .feature-content .single-feature{
    padding: 30px 40px 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-section .feature-content .single-feature h5{
    font-size: 20px;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}
.feature-section .feature-img .feature-expe{
    text-align: center;
    padding: 40px;
    color: #fff;
    background-color: #FF900E;
    border-radius: 8px;
    width: 340px;
    position: relative;
    top: -90px;
}
.feature-section .feature-img img{
    margin-left: 90px;
}
.feature-section .feature-img .feature-expe h2{
    font-size: 65px;
    font-weight: 700;
}
.feature-section .feature-img .feature-expe p{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}
/*-- feature-section-end --*/

/*-- facts-section-start --*/
.facts{
    margin-top: 130px;
}
.facts .facts-hadding{
    margin-bottom: 100px;
}
.facts .facts-hadding h2{
    margin-bottom: 24px;
    font-size: 45px;
    color: #131313;
}
.facts .facts-box{
    display: flex;
    justify-content: space-around;
}
.facts .facts-box .facts-single-box{
    text-align: center;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #FF900E;
}
.facts .facts-box .facts-single-box h4{
    font-size: 45px;
    font-weight: 600;
    color: #424242;
    margin: 2px 0;
}
/*-- facts-section-end --*/

/*-- sponsor-section-end --*/
.sponsor-section{
    margin-top: 180px;
}
.sponsor-section .sponsor-hadding{
    text-align: center;
    margin-bottom: 50px;
}
.sponsor-section .sponsor-hadding h2{
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}
.sponsor-section .sponsors{
    display: flex;
    justify-content: space-between;
}
/*-- sponsor-section-end --*/

/*-- footer-section-start --*/
footer{
    margin: 130px 0 215px;
}
.footer-section{
    text-align: center;
    padding: 40px 0;
    background-color: #fff4e7;
    border-radius: 8px;
}
/*-- footer-section-end --*/